.todoItemBackground {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.todoList {
  display: block;
  background-color: #ff6666;
  font-family: "Quicksand", sans-serif;
  color: white;
  height: 600px;
  width: 600px;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
  margin-right: 0;
}
.h1 {
  margin-left: 30px;
  margin-bottom: 5px;
}
.p {
  margin: 0;
  margin-left: 30px;
  font-size: 15px;
}
ul {
  display: inline-block;
  list-style-type: none;
  margin-top: 10px;
  margin-left: 30px;
  padding: 0;
  width: 400px;
}
li {
  display: block;
  color: black;
  padding: 10px 30px;
  text-decoration: none;
  margin-top: 0px;
  border: 1px solid white;
  background-color: white;
}

.update {
  display: block;
  width: 800px;
  height: 250px;
}
.div {
  display: inline-block;
  width: 400px;
  height: 250px;
}

.submit {
  background-color: #ff6666;
  margin-left: 30px;
  color: black;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid blanchedalmond;
}
.locate {
  display: block;
  float: right;
  width: 105px;
  height: 30px;
}
.delete {
  display: inline-block;
  cursor: pointer;
  border: 1px solid blanchedalmond;
  background-color: blanchedalmond;
}
.div1 {
  float: right;
}
button {
  border: 1px solid blanchedalmond;
}
